.task
{
    width: 100%;
    min-height: 4.3rem;
    max-height: 7rem;
    display: flex;
    flex-shrink: 0;
    background-color: #FFBCEB;
    border: 2px solid var(--cinza);
    border-left: none;
    border-bottom-right-radius: 14px;
    position: relative;
    overflow: hidden;

    font-family: "Kalam", cursive;
    margin-bottom: 1rem;
}

.task::after
{
    content: "";
    width: .6rem;
    height: .6rem;
    border: 2px solid var(--cinza);
    border-bottom: none;
    border-right: none;
    background-color: rgba(0, 0, 0, 0.12);
    position: absolute;
    bottom: 0;
    right: 0;
}

.retangulo
{
    height: 100%;
    width: 8%;
    background-color: rgba(0, 0, 0, 0.12);
    /* #E9A8D5 */
}

.conteudo-task
{
    display: flex;
    flex-direction: column;
    width: 92%;  
    padding: .5rem 1rem .5rem .6rem;
}

.conteudo-task h3 
{
    color: #2b2b2b;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16px;
    text-align: left;

    max-height: 4rem;
    width: 100%;
    margin-bottom: .3rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.data
{
    align-self: flex-end; 
}

.data p
{
    padding: 0 .3rem;
    background-color: #fff;
    font-weight: 400;
    font-size: 14px;
}






.task-input
{
    width: 100%;
    border: 1px dashed #616161;
    outline: none;
    padding: .1rem .3rem;
    margin-bottom: .4rem;
    background-color: transparent;

    color: #5f2068;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

.task-input::placeholder
{
    letter-spacing: normal;
}