.task-list
{
    display: flex;
    flex-direction: column;
    width: 33.33%;
    border-right: 2px solid var(--cinza);
}

.task-nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .4rem .7em;
    border-bottom: 2px solid var(--cinza);
}

.task-list h2
{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 500;
    color: #242424;
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 18px;
}

.task-status
{
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: 2px solid var(--cinza);
}

.btn-nova-tarefa
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2b2b2b;
    background-color: #fff;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    position: relative;

    font-weight: 400;
    font-size: 18px;
}

/* .btn-nova-tarefa::before
{
    content: "";
    width: 1.3rem;
    height: 1.3rem;
    background-color: var(--cinza);
    position: absolute;
    bottom: -2px;
} */

.btn-nova-tarefa i {font-size: 14px;}

.btn-nova-tarefa:hover
{
   transform: translateY(2px);
}




/* ÁREA DOS POST-IT */
.content 
{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%; 
    height: 100%;
    padding: 1rem 1rem 0 0;
    overflow-y: scroll;
}

.content::-webkit-scrollbar 
{
    width: 6px;
}

.content::-webkit-scrollbar-thumb
{
    background-color: var(--cinza);
    border-radius: 10px;
}
